.item{
  height: 9rem;
  min-width:29.5rem;
  padding-right: 20px;
}

.item img{
  width: 110%;
  height: 100%;
  border-radius: 2rem;
  pointer-events: none;

}
.inner-carousel{
  display: flex;


}

.carousel{
  /* background-color: red; */
  cursor: grab;
  overflow: hidden;
 
}
.app{
  z-index: -1;
}