@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;700&family=Montserrat:wght@100;500&family=Outfit:wght@100;500&family=Roboto:ital,wght@1,100&display=swap');

*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ,sans-serif  !important;
}
html,body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.card{
  box-sizing: border-box;

  border-radius: 4px;
  box-shadow:0px 0px 2px rgba(81,81,81,0.2);
}
.input{
  height: 55px;
  width: 100%;
  border: 1px solid #999999;
  padding-left: 20px;
  border-radius: 2px;
}
input:focus{
  outline: none;
  border:1px solid #999999
}
button{
  border: none;
  outline: none;
  cursor: pointer;
  height: 50px ;
  box-shadow: none !important;
  border-radius: 2px;
}
.ant-form-item{
  margin-bottom: 0px !important;
}
.ant-form-item-label{
font-weight: 800;
padding: 0px !important;
margin: 0;
color:#213555 ;
}

.ri-close-line::before{
  width: 100px;
  height: 200px;
}
.image{
  width: 30px !important;
  margin-top: 1px;
}
.img{
  
  width: 40px !important;
  height:40px !important;
  max-width: 500px;
  border-radius: 999999px;
}
.img-1{
  
  width: 60px !important;
  height:60px !important;
  max-width: 500px;
  border-radius: 999999px;
}
.user-search{
  width: 300px;
  height: 40px;
}

.containing-users {
  height: 360px !important;
  margin-top: 10px;
  overflow: hidden;
  overflow-y: scroll;
}
.containing-users::-webkit-scrollbar {
  width: 0; /* Hide scrollbar width */
  height: 0; /* Hide scrollbar height */
}

/* Optional: Make the thumb and track transparent */
.containing-users::-webkit-scrollbar-thumb {
  background: transparent;
}

.containing-users::-webkit-scrollbar-track {
  background: transparent;
}
.month-header{
  font-weight: 1000 !important;
}
.bottom-home{
  padding: 20px 0;
  width: 30rem;
  height: 13rem;
  border-radius: 10px;
  width: 100%;
  
}
.bottom-button{
  width: 400px;
}
.gray-color{
  color: #7F7979;
  width: 400px;
}

.input.text-area{
  min-height:200px;
}

.room-input{
  display: flex;
  width: 100vw;
}


.users{
  background-color: white;
  height:527px;
  width: 50vh;
  border-radius: 5px;
}
.users1{
  background-color: white;
  height:527px;
  width: 49vh;
  border-radius: 5px;
}

video{
  /* width:750px !important; */
  border-radius: 5px;
  border: white 2px solid;
}

.not-sharing{
  display: flex;
  height:525px;
  width:790px;
  background:grey;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color:white;
  font-weight: 600;
  border-radius: 5px;
}

.scrollable{
  overflow-y: scroll;
  max-height: 430px;
  max-width: 360px;
}

.scrollable::-webkit-scrollbar {
  width: 5px; 
}

.scrollable::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.scrollable::-webkit-scrollbar-thumb {
  background: #888; 
}

.room-header{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
  font-weight: 800;
  margin-top: 10px;
  
}

.width{
  max-width: 300px;
}
.following{
  width: 270px;
  height: 200px;
}


.text-about{
  width:170px;
  height: 50px;
  overflow-y: scroll;
}
.message-about{
  width:170px;
  height: 35px;
  word-break: break-all;
}

.text-about::-webkit-scrollbar {
  width: 5px; 
}

.text-about::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.text-about::-webkit-scrollbar-thumb {
  background: #888; 
}
.modal{
  width: 500px !important;
  height: 250px !important;
  background: #213555;
  margin: auto;
  margin-top: 110px;
  border: transparent;
  border-radius: 10px;
}
.bundle{
  width: 150px;
  height: 100px;
  border-radius: 10px;
  background-color: #213555;
  color: white;
  border: white 2px solid;
 
  font-size: larger;
  font-weight: 750;
}
.selected-bundle{
  background-color: white;
  color: #213555;
}

.pincode{
  border: solid grey 1px;
  padding: 4px;
  border-radius: 5px;
}

.star-rating {
  font-size: 24px;
}

.star {
  color: #ccc; /* Default star color */
  cursor: pointer;
}

.star.filled {
  color: gold; /* Filled star color */
}

.card-button{
  width: 120px;
  border-radius: 7px;
  font-size: 13px;
  
}
.logout-button{
  font-size: 50px !important;
}